* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1d1d1d !important; 
    position: relative;
}
